h1 {
    color: #494e6b;
    font-weight: bold;
}

.alert {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
}


.sk-color-1 {
	color: #558ee9 !important;
}

.sk-color-2 {
	color: #f8a13e !important;
}

.sk-btn-white {
	border-radius: 35px;
	border: solid 1px #ffffff;
	background: #ffffff;
	color: #6a6f89;
	text-decoration: none;
	padding: 12px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 10px;
	opacity: .9;
	transition: all .4s ease-in-out;
}

.sk-btn-white:hover {
	background: #ffff;
	color: #6a6f89;
}

.slider {
	background: #585CE9;
}

.header-classic {
	background: #585CE9;
}

.sk-back-to-top {
	background: #5e72e4;
	border: 1px solid #5e72e4;
	padding: 12px 40px;
	font-size: 15px;
	font-weight: 400;
	border-radius: 35px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	margin-top: 30px;
	transition: all .3s ease-in-out;
}

.sk-back-to-top:hover {
	color: #5e72e4;
	background: transparent;
	border: 1px solid #5e72e4;
}

.sk-back-to-details {
	background: #ff5777;
	border-radius: 35px;
	padding: 10px 40px;
	margin-right: 20px;
    color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	transition: all .3s ease-in-out;
	text-decoration: none;
	border: 1px solid #ff5777;
	display: inline-block;
}
.sk-back-to-details:hover {
	background: transparent;
	border: 1px solid #ff5777;
	color: #ff5777;
}

/*--------------------------------------------------
[4. Start Integration]
--------------------------------------------------*/
.integration {
    background: #fbfafa;
    padding: 120px 0 90px 0;
}
.integration .heading {
	margin-bottom: 50px;
}
.integration .heading h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 10px;
}
.integration .heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}
.integration .box {
    background: #ffffff;
    padding: 50px 40px;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.06);
	margin-bottom: 30px;
}
.integration .box img {
    width: 90px;
}
.integration .box h3 {
    font-size: 20px;
    font-weight: 600;
    color: #5a5e74;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
}
.integration .box p {
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}
p {
	font-family: 'Open Sans', sans-serif;
	color: #797c8f;
}
table tr td  {
	font-family: 'Open Sans', sans-serif;
}
.sk-creative {
	background: #ffffff;
}

/*--------------------------------------------------
[3. Start Creative]
--------------------------------------------------*/
.sk-creative {
	padding: 120px 0;
	background: #ffffff;
}

.sk-creative .text h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 20px;
}

.sk-creative .text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

#sidebar-wrapper {
    background: #F5F7F9;
    left: 0;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    transition: left 0.4s ease-in-out;
    z-index: 11;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-right: 1px solid #dee2e6;
    width: 230px;
}
.sidebar-header {
    height: 80px;
    padding: 0 24px;
    background: #F5F7F9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.063rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}
.sidebar-nav {
    margin-top: 24px;
}
.sidebar-nav ol, ul {
    list-style: none;
}
.sidebar-nav .sidebar-nav-item > a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 48px;
    padding: 0 0px; 
}
.sidebar-nav .sidebar-nav-item > a {
    color: #5a5e74;
}
.sidebar-nav .sidebar-nav-item > a:visited {
    color: #5a5e74;
}
.sidebar-nav .sidebar-nav-item > a:hover {
    color: #5a5e74;
}
.sidebar-nav .sidebar-nav-item > a:active, .sidebar-nav .sidebar-nav-item > a:focus {
    color: #5a5e74;
}
.sidebar-nav .sidebar-nav-item > a:hover {
    text-decoration: none;
}
.sidebar-nav .sidebar-nav-item > a .fa {
    transition: all .3s; 
}
.sidebar-nav .sidebar-nav-item.active > a {
    padding-left: 20px;
    border-left: 4px solid #61A8FF;
}
.sidebar-nav .sidebar-nav-item ul {
    display: none;
    padding: 16px 20px;
}
.sidebar-nav .sidebar-nav-item {
}
.sidebar-nav .sidebar-nav-item ul li {
    color: #007bff;
    padding-top:10px;
}
.sidebar-nav .sidebar-nav-item ul li span {
    color: #5a5e74;
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
}
.sidebar-section {
    padding-left: 20px;
    font-weight: bold;
    color: #000000;
}
.navbar-classic .navbar-nav .nav-item .nav-link {
	font-weight: bold;
}

pre {
	border-radius: 10px;
}
.features .box {
	border-radius: 8px;
}
.features .box h3 {
	font-weight: 700;
}
.integration .box {
	border-radius: 8px;
}
.integration .box h3 {
	font-weight: 700;
}
/*
table tr td  {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

a .app-btn-red {
	background: #ff5777;
	border-radius: 35px;
	padding: 10px 40px;
    color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	transition: all .3s ease-in-out;
	text-decoration: none;
	border: 1px solid #ff5777;
	display: inline-block;
}


.features span {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
	display: inline-block;
	margin-bottom: 10px;
}

.features h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 15px;
}

.features p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}
*/