<div id="sidebar-wrapper">
   <div class="sidebar-header">
      <a class="brand" href="/">
      <span>Index</span>
      </a>
      <button type="button" id="main-toggle" class="sidebar-toggle">
      <span class="close"></span>
      </button>
   </div>
   <div id="sk_arch_component_menu_sections" class="sidebar-nav">
        <!--
        <div class="sidebar-nav-item">
            <div class="sidebar-section">Overview</div>
            <ul style="display: block;">
                <li>
                   <a href="tests/sidebar#about">
                   <span>About</span>
                   </a>
                </li>
                <li>
                   <a href="tests/sidebar#goals">
                   <span>Goals</span>
                   </a>
                </li>
                <li>
                   <a href="tests/sidebar#status">
                   <span>Status</span>
                   </a>
                </li>
            </ul>
      </div>
      <div class="sidebar-nav-item">
            <div class="sidebar-section">Setup</div>
            <ul style="display: block;">
                <li>
                   <a href="tests/sidebar#install">
                   <span>Install</span>
                   </a>
                </li>
                <li>
                   <a href="tests/sidebar#requires">
                   <span>Requires</span>
                   </a>
                </li>
                <li>
                   <a href="tests/sidebar#example">
                   <span>Example</span>
                   </a>
                </li>
            </ul>
      </div>
      <div class="sidebar-nav-item">
         <div class="sidebar-section">Guide</div>
         <ul  style="display: block;">
            <li>
               <a href="tests/sidebar#args" class="active">
               <span>Args</span>
               </a>
            </li>
            <li>
               <a href="tests/sidebar#envs">
               <span>Env</span>
               </a>
            </li>
            <li>
               <a href="tests/sidebar#conf">
               <span>Conf</span>
               </a>
            </li>
            <li>
               <a href="tests/sidebar#logs">
               <span>Logs</span>
               </a>
            </li>
            <li>
               <a href="tests/sidebar#help">
               <span>Help</span>
               </a>
            </li>
         </ul>
      </div>
      -->
    </div>
</div>