<div id="sidebar-wrapper">
   <div class="sidebar-brand">
      <a class="brand" href="/">
      <span>Index</span>
      </a>
      <button type="button" id="main-toggle" class="sidebar-toggle">
      <span class="close"></span>
      </button>
   </div>
   <div class="sidebar-nav">
        <div class="sidebar-nav-item">
            <div class="sidebar-section">Overview</div>
            <ul style="display: block;">
                <li>
                   <a href="/docs/quickstart/libraries/">
                   <span>Goals</span>
                   </a>
                </li>
                <li>
                   <a href="/docs/quickstart/linting/">
                   <span>Status</span>
                   </a>
                </li>
            </ul>
      </div>
      <div class="sidebar-nav-item">
            <div class="sidebar-section">Setup</div>
            <ul style="display: block;">
                <li>
                   <a href="/docs/quickstart/linting/">
                   <span>Install</span>
                   </a>
                </li>
                <li>
                   <a href="/docs/quickstart/linting/">
                   <span>Requires</span>
                   </a>
                </li>
                <li>
                   <a href="/docs/quickstart/linting/">
                   <span>Sample</span>
                   </a>
                </li>
            </ul>
      </div>
      <div class="sidebar-nav-item">
         <div class="sidebar-section">Guide</div>
         <ul  style="display: block;">
            <li>
               <a href="/docs/" class="active">
               <span>Args</span>
               </a>
            </li>
            <li>
               <a href="/docs/quickstart/libraries/">
               <span>Env</span>
               </a>
            </li>
            <li>
               <a href="/docs/quickstart/linting/">
               <span>Conf</span>
               </a>
            </li>
            <li>
               <a href="/docs/quickstart/linting/">
               <span>Logs</span>
               </a>
            </li>
            <li>
               <a href="/docs/quickstart/linting/">
               <span>Help</span>
               </a>
            </li>
         </ul>
      </div>
    </div>
</div>