<div class="col-sm-12 d-none d-sm-block">
  <table class="table table-bordered table-striped">
    <tr>
      <td ><strong>Component</strong></td>
      <td ><strong>Docs</strong></td>
      <td ><strong>Version</strong></td>
      <td ><strong>Target</strong></td>
      <td ><strong>Status</strong></td>
      <td ><strong>License</strong></td>
      <td ><strong>About</strong></td>
    </tr>
	<tr>
	    <td class="text-center"><a href="/arch/app"><img src="assets/media/img/white/desktop.png" width="40" alt="" /></a></td>
	    <td><strong><a class="url-ch" href="/arch/app">App</a></strong></td>
	    <td><img src="https://img.shields.io/badge/2.8.0-version-blue" /></td>
	    <td><span class="badge badge-light">Server</span></td>
	    <td><span class="badge badge-success">Stable</span></td>
	    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
	    <td>Runnable App Template</td>
	  </tr>
	  <tr>
	    <td class="text-center"><a href="/arch/cli"><img src="assets/media/img/white/terminal.png" width="40" alt="" /></a></td>
	    <td><strong><a class="url-ch" href="/arch/cli">CLI</a></strong></td>
	    <td><img src="https://img.shields.io/badge/2.8.0-version-blue" /></td>
	    <td><span class="badge badge-light">Server</span></td>
	    <td><span class="badge badge-success">Stable</span></td>
	    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
	    <td>Command Line Interface</td>
	  </tr>
	  <tr>
	    <td class="text-center"><a href="/arch/apis"><img src="assets/media/img/white/webapi.png" width="40" alt="" /></a></td>
	    <td><strong><a class="url-ch" href="/arch/apis">Server</a></strong></td>
	    <td><img src="https://img.shields.io/badge/2.8.0-version-blue" /></td>
	    <td><span class="badge badge-light">Server</span></td>
	    <td><span class="badge badge-success">Stable</span></td>
	    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
	    <td>Http Server ( using Ktor ) and our Universal APIs</td>
	  </tr>
	  <tr>
	    <td class="text-center"><a href="/arch/apis"><img src="assets/media/img/white/webapi.png" width="40" alt="" /></a></td>
	    <td><strong><a class="url-ch" href="/arch/apis">API</a></strong></td>
	    <td><img src="https://img.shields.io/badge/2.8.0-version-blue" /></td>
	    <td><span class="badge badge-light">Server / Console</span></td>
	    <td><span class="badge badge-success">Stable</span></td>
	    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
	    <td>Universal APIs</td>
	  </tr>
	  <tr>
	    <td class="text-center"><a href="/arch/jobs"><img src="assets/media/img/white/gears.png" width="40" alt="" /></a></td>
	    <td><strong><a class="url-ch" href="arch/jobs">Jobs</a></strong></td>
	    <td><img src="https://img.shields.io/badge/2.8.0-version-blue" /></td>
	    <td><span class="badge badge-light">Android / Server</span></td>
	    <td><span class="badge badge-success">Stable</span></td>
	    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
	    <td>Pausable Background jobs/queues library</td>
	  </tr>
	</table>
</div>



