<div class="col-sm-12 d-none d-sm-block">
  <table class="table table-bordered table-striped">
    <tr>
      <td ><strong>Component</strong></td>
      <td ><strong>Docs</strong></td>
      <td ><strong>Version</strong></td>
      <td ><strong>Target</strong></td>
      <td ><strong>Status</strong></td>
      <td ><strong>License</strong></td>
      <td ><strong>About</strong></td>
    </tr>
    <tr>
      <td class="text-center"><a href="/arch/cache"><img src="assets/media/img/white/lightning.png" width="40" alt="" /></a></td>
      <td><strong><a class="url-ch" href="/arch/cache">Cache</a></strong></td>
      <td><img src="https://img.shields.io/badge/2.8.0-version-blue" /></td>
      <td><span class="badge badge-light">Android / Server</span></td>
      <td><span class="badge badge-success">Stable</span></td>
      <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
      <td>Caching library</td>
    </tr>
    <tr>
      <td class="text-center"><a href="/arch/queues"><img src="assets/media/img/white/queue.png" width="40" alt="" /></a></td>
      <td><strong><a class="url-ch" href="arch/queues">Core</a></strong></td>
      <td><img src="https://img.shields.io/badge/2.8.0-version-blue" /></td>
      <td><span class="badge badge-light">Android / Server</span></td>
      <td><span class="badge badge-success">Stable</span></td>
      <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
      <td>Infrastructure Abstractions(Files, Queues, etc)</td>
    </tr>
    <tr>
      <td class="text-center"><a href="/arch/sms"><img src="assets/media/img/white/mobile.png" width="40" alt="" /></a></td>
      <td><strong><a class="url-ch" href="arch/sms">Notifications</a></strong></td>
      <td><img src="https://img.shields.io/badge/2.8.0-version-blue" /></td>
      <td><span class="badge badge-light">Server</span></td>
      <td><span class="badge badge-success">Stable</span></td>
      <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
      <td>Email, SMS, Slack, Push</td>
    </tr>
    <tr>
      <td class="text-center"><a href="/arch/tracking"><img src="assets/media/img/white/diagnostic.png" width="40" alt="" /></a></td>
      <td><strong><a class="url-ch" href="arch/tracking">Tracking</a></strong></td>
      <td><img src="https://img.shields.io/badge/2.8.0-version-blue" /></td>
      <td><span class="badge badge-light">Android / Server</span></td>
      <td><span class="badge badge-success">Stable</span></td>
      <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
      <td>Diagnostics related library</td>
    </tr>

  </table>
</div>