
<div class="col-sm-12 d-none d-sm-block">
<table class="table table-bordered table-striped">
  <tr>
    <td ><strong>Component</strong></td>
    <td ><strong>Docs</strong></td>
    <td ><strong>Version</strong></td>
    <td ><strong>Target</strong></td>
    <td ><strong>Status</strong></td>
    <td ><strong>License</strong></td>
    <td ><strong>About</strong></td>
  </tr>
  <tr>
    <td class="text-center"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Foundations</strong>: Libraries used by most projects</td>
  </tr>
  <tr>
    <td class="text-center"><a href="arch/results"><img src="assets/media/img/white/target.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/results">Results</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-results/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Successes / Failure Modeling</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/utils/overview"><img src="assets/media/img/white/multitool.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/utils/overview">Utilities</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-common/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Utility Components</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/context"><img src="assets/media/img/white/connected.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/context">Context</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-context/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Stores Common Dependencies</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/actors"><img src="assets/media/img/white/gears.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/actors">Actors</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-actors/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Micro Actor Library</td>
  </tr>

  <tr>
    <td class="text-center"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Applications</strong>: Runnable apps and services</td>
  </tr>

  
  <tr>
    <td class="text-center"><a href="/arch/app"><img src="assets/media/img/white/desktop.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/app">App</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-app/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Runnable App Template</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/cli"><img src="assets/media/img/white/terminal.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/cli">CLI</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-cli/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Command Line Interface</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/apis"><img src="assets/media/img/white/webapi.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/apis">Server</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-apis/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Http Server ( using Ktor ) and our Universal APIs</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/apis"><img src="assets/media/img/white/webapi.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/apis">API</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-server/images/download.svg" /></td>
    <td><span class="badge badge-light">Server / Console</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Universal APIs</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/jobs"><img src="assets/media/img/white/gears.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/jobs">Jobs</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-jobs/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Pausable Background jobs/queues library</td>
  </tr>


  <tr>
    <td class="text-center"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Infrastructure</strong>: Infrastructure components</td>
  </tr>


  <tr>
    <td class="text-center"><a href="/arch/cache"><img src="assets/media/img/white/lightning.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/cache">Cache</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-cache/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Caching library</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/queues"><img src="assets/media/img/white/queue.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/queues">Core</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-core/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Infrastructure Abstractions(Files, Queues, etc)</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/sms"><img src="assets/media/img/white/mobile.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/sms">Notifications</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-notifications/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Email, SMS, Slack, Push</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/tracking"><img src="assets/media/img/white/diagnostic.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/tracking">Tracking</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-tracking/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Diagnostics related library</td>
  </tr>


  <tr>
    <td class="text-center"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Data</strong>: Database related modules</td>
  </tr>


  <tr>
    <td class="text-center"><a href="/arch/data"><img src="assets/media/img/white/layers.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/data">DB</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-db/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Convenient datbase operations over JDBC</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/data"><img src="assets/media/img/white/layers.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/data">Query</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-query/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>A light-weight SQL Query builder</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/data"><img src="assets/media/img/white/layers.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/data">Data</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-orm/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Light-weight Data-Mapper to map from models and tables</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/data"><img src="assets/media/img/white/layers.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/data">Entities</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-entities/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Entity service layer on top of the Repository</td>
  </tr>

  <tr>
    <td class="text-center"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Support</strong>: Misc support libraries and tools</td>
  </tr>


  
  <tr>
    <td class="text-center"><a href="/arch/generators"><img src="assets/media/img/white/terminal.png" width="40" alt="" /></a></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/lib/kotlin/slatekit" >Slate Kit</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-generator/images/download.svg" /></td>
    <td><span class="badge badge-light">Server / Console</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Slate Kit CLI for MacOS</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/generators"><img src="assets/media/img/white/prototype.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/generators">Generator</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-generator/images/download.svg" /></td>
    <td><span class="badge badge-light">Server / Console</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Project templates and code generator</td>
  </tr>

  
  <tr>
    <td class="text-center"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Providers</strong>: 3rd Party Integrations</td>
  </tr>


  <tr>
    <td class="text-center"><img src="assets/media/img/white/module.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/ext/kotlin/slatekit-providers-logback" >Logback</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-providers-logback/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Logback logging provider for Slate Kit logs</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/module.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/ext/kotlin/slatekit-providers-datadog" >DataDog</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-providers-datadog/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>DataDog metrics provider for Slate Kit metrics</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/module.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/ext/kotlin/slatekit-providers-aws" >AWS</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-providers-aws/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>AWS S3, SQS provider for Slate Kit files/queues</td>
  </tr>

  
  <tr>
    <td class="text-center"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Connectors</strong>: Connects 2 or modules together</td>
  </tr>


  <tr>
    <td class="text-center"><img src="assets/media/img/white/gears.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/ext/kotlin/slatekit-connectors-cli" >API / CLI</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-connectors-cli/images/download.svg" /></td>
    <td><span class="badge badge-light">Server / Console</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Makes Universal APIs run on the CLI</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/gears.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/ext/kotlin/slatekit-connectors-jobs" >API / Jobs</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-connectors-jobs/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Makes Universal APIs accessible from jobs/queues</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/gears.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/ext/kotlin/slatekit-connectors-entities" >Entities/DB</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-connectors-entities/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Makes Entities/Databases available in the Context</td>
  </tr>


  <tr>
    <td class="text-center"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Internal</strong>: Internal libraries (not for public use)</td>
  </tr>


  <tr>
    <td class="text-center"><img src="assets/media/img/white/shield.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/lib/kotlin/slatekit-http" >Http</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-http/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td> Thin library on top of OkHttp for RPC calls</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/shield.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/lib/kotlin/slatekit-meta" >Meta</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-meta/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>For Reflections and meta-programming</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/shield.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/lib/kotlin/slatekit-policy" >Policy</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-policy/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>For middleware and enforcing policies like once, every</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/shield.png" width="40" alt="" /></td>
    <td><strong><a href="https://github.com/slatekit/slatekit/tree/master/src/lib/kotlin/slatekit-serialization" >Serialization</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-serialization/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache-orange.svg?style=flat" /></td>
    <td>Custom serializer, deserializer for Universal APIs</td>
  </tr>
</table>
</div>