<div class="col-sm-12 d-none d-sm-block">
<table class="table table-bordered table-striped">
  <tr>
    <td ><strong>Component</strong></td>
    <td ><strong>Docs</strong></td>
    <td ><strong>Version</strong></td>
    <td ><strong>Target</strong></td>
    <td ><strong>Status</strong></td>
    <td ><strong>License</strong></td>
    <td ><strong>About</strong></td>
  </tr>
  <tr>
    <td class="text-center"><a href="arch/results"><img src="assets/media/img/white/target.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/results">Results</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-results/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Successes / Failure Modeling</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/app"><img src="assets/media/img/white/desktop.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/app">App</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-app/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Runnable App Template</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/actors"><img src="assets/media/img/white/gears.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/actors">Actors</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-jobs/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Micro Actor Library</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/apis"><img src="assets/media/img/white/webapi.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/apis">API</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-apis/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <!--<td><img src="https://img.shields.io/badge/license-AGPL_v3-orange.svg?style=flat" /></td>-->
    <td><img src="https://img.shields.io/badge/license-bsl__1.0-orange.svg?style=flat" /></td>
    <td>Universal APIs</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/cli"><img src="assets/media/img/white/terminal.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/cli">CLI</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-cli/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Command Line Interface</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/cache"><img src="assets/media/img/white/lightning.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/cache">Cache</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-cache/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Caching library</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/context"><img src="assets/media/img/white/connected.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/arch/context">Context</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-context/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Container library</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/data"><img src="assets/media/img/white/layers.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/data">Entities</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-entities/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-primary">Beta</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>SQL / Data library</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/email"><img src="assets/media/img/white/email.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/email">Email</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-notifications/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Email library</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/files"><img src="assets/media/img/white/folders.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/files">Files</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-providers-aws/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Cloud Files library</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/generators"><img src="assets/media/img/white/prototype.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/generators">Generator</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-generator/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Project generator</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/jobs"><img src="assets/media/img/white/gears.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/jobs">Jobs</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-jobs/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <!--<td><img src="https://img.shields.io/badge/license-AGPL_v3-orange.svg?style=flat" /></td>-->
    <td><img src="https://img.shields.io/badge/license-bsl__1.0-orange.svg?style=flat" /></td>
    <td>Background jobs/queues</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/queues"><img src="assets/media/img/white/queue.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/queues">Queues</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-providers-aws/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Cloud Queues library</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/sms"><img src="assets/media/img/white/mobile.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/sms">Notifs</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-notifications/images/download.svg" /></td>
    <td><span class="badge badge-light">Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Email, SMS, Slack, Push</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/arch/tracking"><img src="assets/media/img/white/diagnostic.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="arch/tracking">Tracking</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-tracking/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Diagnostics related library</td>
  </tr>
  <tr>
    <td class="text-center"><a href="/utils/overview"><img src="assets/media/img/white/multitool.png" width="40" alt="" /></a></td>
    <td><strong><a class="url-ch" href="/utils/overview">Utilities</a></strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-common/images/download.svg" /></td>
    <td><span class="badge badge-light">Android / Server</span></td>
    <td><span class="badge badge-success">Stable</span></td>
    <td><img src="https://img.shields.io/badge/license-Apache2-blue.svg?style=flat" /></td>
    <td>Utility Components</td>
  </tr>
</table>
</div>