
<table class="table table-bordered table-striped">
  <tr>
    <td><strong>package</strong></td>
    <td>{{.Get "package" }}</td>
  </tr>
  <tr>
    <td><strong>jar</strong></td>
    <td>{{.Get "jar" }}</td>
  </tr>
  <tr>
    <td><strong>source</strong></td>
    <td><a class="url-ch" href="{{.Get "git" }}">{{.Get "gitAlias" }}</a></td>
  </tr>
  <tr>
      <td><strong>example</strong></td>
      <td><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-examples/src/main/kotlin/slatekit/examples/{{.Get "exampleUrl" }}">{{.Get "exampleFileName" }}</a></td>
  </tr>
  <!--
  <tr>
    <td><strong>docs</strong></td>
    <td><a class="url-ch" href="{{.Get "url" }}">{{.Get "name" }}</a></td>
  </tr>
  -->
  <tr>
    <td><strong>version</strong></td>
    <td><img src="https://api.bintray.com/packages/codehelixinc/slatekit/{{.Get "bintray" }}/images/download.svg" /></td>
  </tr>
  <tr>
    <td><strong>license</strong></td>
    <td><img src="https://img.shields.io/badge/license-{{.Get "license" | default "Apache2" }}-green.svg?style=flat" /></td>
  </tr>
  <tr>
    <td><strong>requires</strong></td>
    <td>{{.Get "uses" }}</td>
  </tr>
</table>