Releases occur roughly every 2 weeks to 1 month for planned releases and uses Semantic Versioning in format **MAJOR.MINOR.PATCH**
<table class="table table-bordered table-striped">
    <tr>
        <td><strong>Type</strong></td>
        <td><strong>Cycle</strong></td>
        <td><strong>Version</strong></td>
        <td><strong>Note(s)</strong></td>
    </tr>
    <tr>
        <td><strong>Hot-Fix</strong></td>
        <td>On Demand</td>
        <td>1.0.<strong>2</strong></td>
        <td>Typically critical issues</td>
    </tr>
    <tr>
        <td><strong>Patches</strong></td>
        <td>~ 2 Weeks</td>
        <td>1.0.<strong>3</strong></td>
        <td>Roughly every 2 weeks or sooner</td>
    </tr>
    <tr>
        <td><strong>Features</strong></td>
        <td>~ 1 Month</td>
        <td>1.<strong>1</strong>.0</td>
        <td>These are small or moderate changes and/or new features</td>
    </tr>
    <tr>
        <td><strong>Major</strong></td>
        <td>~ 3 Months</td>
        <td><strong>2</strong>.0.0</td>
        <td>Major releases with new features and potentially breaking changes/ redesigns</td>
    </tr>
</table>