<table class="table table-bordered table-striped">
    <tr>
        <td><strong>1</strong></td>
        <td><strong>2015</strong></td>
        <td><img src="assets/media/img/white/lightning.png" width="50" alt=""></td>
        <td> Started off as an idea in 2015. Slate Kit was being built in-parallel with a mobile app/start-up. The idea was to keep the architecture side as decoupled from the business/mobile app as possible in Scala.</td>
    </tr>
    <tr>
        <td><strong>2</strong></td>
        <td><strong>2016</strong></td>
        <td><img src="assets/media/img/white/prototype.png" width="50" alt=""></td>
        <td>Actively builing out the architecture components. Separating code into various projects for better organization</td>
    </tr>
    <tr>
        <td><strong>3</strong></td>
        <td><strong>2017</strong></td>
        <td><img src="assets/media/img/white/share.png" width="50" alt=""></td>
        <td>Slate Kit almost fully extracted from a mobile startup and converted from Scala to Kotlin to allow for full-stack client ( Android ) and Server development and code reuse. This greatly reduced time, costs and made development for other projects much simpler using 1 language for Android and Server.</td>
    </tr>
    <tr>
        <td><strong>4</strong></td>
        <td><strong>2018</strong></td>
        <td><img src="assets/media/img/white/microscope.png" width="50" alt=""></td>
        <td>Actively used in production and in beta apps. Dog-fooding this framework helped to polish up the components and discover and update use-cases. Slate Kit become a major effort and a cornerstone for some future SAAS product ideas.</td>
    </tr>
    <tr>
        <td><strong>5</strong></td>
        <td><strong>2019</strong></td>
        <td><img src="assets/media/img/white/gears.png" width="50" alt=""></td>
        <td>Emphasis on tooling, build automation, package distribution to BinTray, Unit-Tests and website updated with docs.</td>
    </tr>
    <tr>
        <td><strong>6</strong></td>
        <td><strong>2020</strong></td>
        <td><img src="assets/media/img/white/flag.png" width="50" alt=""></td>
        <td>Established stable, production ready, and well tested modules on both Server and Android, approach public release.</td>
    </tr>
    <tr>
        <td><strong>7</strong></td>
        <td><strong>2021</strong></td>
        <td><img src="assets/media/img/white/speaker.png" width="50" alt=""></td>
        <td>Establishing a dual license for Slate Kit to allow for Apache 2.0 for majority of users. BSL for cloud providers. 
            Publish Slate Kit on various channels to promote the project. A major Slate Kit Cloud Console to deploy and manage Slate Kit applications is in the works for 2021 </td>
    </tr>
</table>