
<span class="badge badge-light">{{.Get "target" }}</span>
<br/>

<!--<a href="https://bintray.com/codehelixinc/slatekit/slatekit-{{.Get "page" }}">-->
<a href="https://github.com/orgs/slatekit/packages?repo_name=slatekit">
<img src="https://img.shields.io/badge/2.8.0-version-blue" />
</a>
<br/>

{{ if (.Get "stable") }}
    <span class="badge badge-success">Stable</span>
{{ else if (.Get "beta")  }}
    <span class="badge badge-primary">Beta</span>
{{ else if (.Get "internal") }}
    <span class="badge badge-warning">Internal use</span>
{{ else }}    
    <span class="badge badge-danger">Danger!</span>
{{ end }}
