
<span class="badge badge-light">{{.Get "target" }}</span>
<br/>

<a href="https://bintray.com/codehelixinc/slatekit/slatekit-{{.Get "page" }}">
<img src="https://api.bintray.com/packages/codehelixinc/slatekit/slatekit-{{.Get "page" }}/images/download.svg" />
</a>
<br/>

{{ if (.Get "stable") }}
    <span class="badge badge-success">Stable</span>
{{ else if (.Get "beta")  }}
    <span class="badge badge-primary">Beta</span>
{{ else if (.Get "internal") }}
    <span class="badge badge-warning">Internal use</span>
{{ else }}    
    <span class="badge badge-danger">Danger!</span>
{{ end }}
